@charset "UTF-8";
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Débuggueur CSS  */
* {
  /* outline: 1px solid red; */
}

html {
  font-size: 0.625em;
  /* fallback IE8+ */
  font-size: calc(1em * .625);
  /* IE9-IE11 math fixing. See http://bit.ly/1g4X0bX */
}

/* Remove focus for mouse users */
:focus:not(:focus-visible) {
  outline: none;
}

/* Set core body defaults */
body {
  font-size: 1.6rem;
}

/* Set text selection */
::-moz-selection {
  color: #000;
  background-color: #fd0;
}

::selection {
  color: #000;
  background-color: #fd0;
}

/* Remove default padding */
[role=list] {
  margin: 0;
  padding: 0;
}

/* Set cursor pointer */
label[for],
button,
input[type=submit],
select {
  cursor: pointer;
}

/* Remove font style on address */
address {
  font-style: normal;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  width: 1px;
  position: absolute;
  white-space: nowrap;
}

/* Image replacement technique 2012 H5BP  - https://css-tricks.com/the-image-replacement-museum/ */
.ir {
  font: 0/0 a;
  color: transparent;
  border: 0;
  text-shadow: none;
}

/* Print external URLs */
@media print {
  a {
    text-decoration: underline;
  }

  a[href]:not([href^="#"])::after {
    content: "(" attr(href) ")";
  }
}
.container {
  padding: 0 4rem;
}

@media screen and (min-width: 576px) {
  .container {
    padding: 0 8rem;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    padding: 0 16rem;
  }
}
a {
  text-decoration: none;
  color: white;
}

body {
  font-family: Montserrat, sans-serif;
  font-size: 2rem;
  line-height: 3rem;
}

h1, h2, h3, h4, .logo {
  font-family: Raleway, sans-serif;
}

h1, h2, .logo {
  font-weight: bold;
}

h1 {
  font-size: 3.8rem;
  line-height: 4.8rem;
  text-align: center;
  margin-bottom: 5rem;
}

h2 {
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 3.6rem;
}

h3 {
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 3.6rem;
}

@media screen and (min-width: 992px) {
  h1 {
    font-size: 4.8rem;
  }
}
.nav {
  z-index: 1000;
  background-color: #FD7E37;
}
.nav, .nav .nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0 5rem;
}
.nav .logo {
  font-size: 4rem;
  color: white;
  margin: 2rem 0;
}

.nav-link {
  font-weight: 600;
  line-height: 2.4rem;
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
}

.nav-item a:not(#active):hover {
  background-color: white;
  color: #FD7E37;
}

.active a {
  opacity: 0.5;
}

/* Navigation */
.toggle-menu {
  padding: 0.25rem 1rem;
  background-color: #FD7E37;
  border: none;
  transition: 0.3s;
}

.toggle-menu img {
  width: 4rem;
  padding: 0;
  margin-top: 1rem;
}

.menu {
  z-index: 100;
  position: absolute;
  top: 6rem;
  left: 0;
  right: 0;
  background-color: var(--accent);
  transition: 0.5s;
  flex-direction: column;
}

@media screen and (min-width: 680px) {
  .menu {
    display: flex;
    flex-direction: row;
  }
}
#menu {
  background-color: #FD7E37;
}

.menu[hidden] {
  display: flex;
  visibility: hidden;
}

.menu:not([hidden]) {
  display: flex;
  transform: translateX(0);
}

.menu-link {
  display: block;
  padding: 1.6rem;
  font-size: 1.4rem;
  line-height: 1.2;
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

.menu-link:hover,
.menu-link:focus {
  background-color: rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 992px) {
  .toggle-menu {
    display: none;
  }

  .menu,
.menu[hidden] {
    display: flex;
    visibility: visible;
    position: static;
    transform: translateX(0);
  }
}
footer {
  background-color: #FD7E37;
  padding: 4rem 0;
}
footer .footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@media screen and (min-width: 992px) {
  footer .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }
}

.contact {
  line-height: 3.6rem;
  color: white;
}
.contact .contact-title {
  font-weight: 600;
}

.mention {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.mention .politique-conf {
  margin-left: 2rem;
}
.mention .mention-legale {
  margin-left: 2rem;
}

@media screen and (min-width: 1200px) {
  .mention {
    margin-top: 0;
    margin-bottom: 0;
    flex-direction: row;
    align-items: center;
  }
  .mention .mention-legale {
    margin-left: 0;
  }
}
.network {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
}

.etudiant, .actu, .module, .form-contact, .politique, .mention .hero-content, .article {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.form-contact {
  color: black;
}
.form-contact .form {
  position: relative;
  margin-top: 8rem;
  margin-bottom: 8rem;
  display: flex;
  flex-direction: column;
}
.form-contact .form .form-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
}
.form-contact .form .form-label label {
  margin-bottom: 1rem;
}
.form-contact .form .form-label input:not(.submit), .form-contact .form .form-label textarea {
  font-style: italic;
  color: #33110080;
  padding: 1rem 2rem;
}
.form-contact .form .form-area {
  grid-area: 2/1/3/3;
  margin-top: 3rem;
}
.form-contact .form .form-label input, .form-contact .form .form-area textarea {
  border: transparent;
  border-bottom: solid 1px black;
}
.form-contact .form .form-label input:hover, .form-contact .form .form-label input:focus, .form-contact .form .form-area textarea:hover, .form-contact .form .form-area textarea:focus {
  padding-left: 3rem;
}
.form-contact .form .form-submit {
  margin-top: 5rem;
  grid-area: 3/2/4/3;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 18rem;
  background-color: #FD7E37;
  border: transparent;
  border-radius: 0.5rem;
  margin-left: auto;
}
.form-contact .form .form-submit .submit {
  background-color: #FD7E37;
  border: transparent;
  font-weight: 600;
  margin-right: 1rem;
  color: white;
}
@media screen and (min-width: 992px) {
  .form-contact .form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .form-contact .form-submit {
    position: absolute;
    right: 0;
  }
}

/*# sourceMappingURL=contact.css.map */
