.nav{
    z-index: 1000;
    background-color: #FD7E37;
    &, .nav-list{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 0 5rem;
    }
    .logo{
        font-size: 4rem;
        color: white;
        margin: 2rem 0;
    }
}

.nav-link{
    font-weight: 600;
    line-height: 2.4rem;
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
}

.nav-item a:not(#active):hover{
    background-color: white;
    color: #FD7E37;
}

.active a{
    opacity: 0.5;
}