.return{
    display: none;
    position: absolute;
    top: 0;
    border: solid 1px #FD7E37;
    border-radius: 2rem;
    padding: .5rem 1rem;
    .return-img{
        transform: rotate(180deg);
        width: 3rem;
    }
    .return-desc{
        color: black;
        font-size: 1.5rem;
    }
    &:hover{
        background-color: #FD7E37;
        .return-desc{
            color: white;
        }
    }
} 

@media screen and (min-width: 776px) {
    .return{
        display: block;
    }
}