@import 'reset';
@import 'helpers';
@import 'layout';
@import 'generique';
@import 'typo';
@import 'nav';
@import 'menu-burger';
@import 'return';
@import 'actualites';
@import 'footer';
@import 'important';

.container{
    position: relative;
}

.article-img{
    margin: auto;
    width: 70%;
}

.article-content{
    margin-bottom: 0;
    .actu-name{
        margin-top: 5rem;
    }
    .article-time{
        display: flex;
        justify-content: center;
        align-items: center;
        .article-datetime{
            margin-left: 1rem;
        }
    }
    .actu-text{
        margin-top: 5rem;
    }
}

.return{
    margin-top: 7rem;
}