@import 'reset';
@import 'helpers';
@import 'layout';
@import 'generique';
@import 'typo';
@import 'nav';
@import 'menu-burger';
@import 'card';
@import 'actualites';
@import '_etudiant';
@import '_module';
@import 'footer';
@import 'important';


h1{
    font-size: 3.2rem;
    line-height: 7.6rem;
}

h2{
    font-size: 3.8rem;
    line-height: 4.8rem;
    text-align: center;
    margin-bottom: 5rem;
}

@media screen and (min-width: 576px) {
    h1{
        font-size: 4.2rem;
    } 
}

@media screen and (min-width: 992px) {
    h1{
        font-size: 5.2rem;
    } 
    h2{
        font-size: 4.8rem;
    }
}

/* Hero */
.hero{
    background-image: url("../img/Photo\ arrière-plan.png");
    position: relative;
    height: 71rem;
}

.hero-welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 75rem;
    background-color: #00000080;
    opacity: 1;
    position: absolute;
    top: 20%;
    color: white;
    padding: 3rem;
    margin-right: 2rem;
}

.hero-link{
    padding: 1rem 2rem;
    background-color: #FD7E37;
    position: static;
    margin: auto;
    line-height: 3.6rem;
    font-weight: 600;
    text-align: center;
}

@media screen and (min-width: 576px) {
    .hero-welcome{
        position: absolute;
        margin-right: 8rem;
    }
}

@media screen and (min-width: 992px) {
    .hero-welcome{
        max-height: 50rem;
        position: absolute;
        top: 40%;
        right: 5%;
    }
    .hero-link{
        position: absolute;
        right: 3rem;
        bottom: 3rem;
        text-align: left;
    }
}